*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/618833/pexels-photo-618833.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  font-family: "Comic Neue", cursive;}

.form-container{
    border: 3px solid black;
    border-radius: 20px;
    padding: 1em;
    width: 50%;
    backdrop-filter: blur(5px);
    color: white;
}


.input-container div{
    display: flex;
    margin: 1em 0;
    align-items: center;
}

.input-container label{
    width: 40%;
    font-weight: bold;
    text-align: center;
}

.input-container input{
    width: 60%;
    border: 2px solid black;
    border-radius: 5px;
    padding: .5em;
    background-color: transparent;
    backdrop-filter: blur(50px);
    color: white;
}

.input-container label{
    margin-right: .5em;
}

.level-container{
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0s;
}

.level-container div{
    border: 1px solid black;
    padding: .5em;
    border-radius: 5px;
    font-weight: bold;
}

.viegls{
    background-color: rgb(75, 122, 3);
}

.videjs{
    background-color: rgb(146, 96, 3);
}

.gruts{
    background-color: rgb(141, 6, 6);
}

.text-area-container{
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.text-area-container textarea{
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
    color: white;
    backdrop-filter: blur(50px);

}

.checkbox-container{
    text-align: center;
    margin: 1em;
}


.submit-container{
    display: flex;
    justify-content: center;
}

.submit-container input{
    width: 80%;
    font-size: 2rem;
    padding: .5em 0;
    border-radius: 20px;
    border: 2px solid black;
    background-color: aqua;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.submit-container input:hover{
    background-color: blue;
    color: white;
}


